@import 'normalize-scss/normalize';
@import 'base/variable';
@import 'base/screen';

h1:after {
  content: ' Mobile View';

  @include susy-breakpoint($tablet-width, $tablet) {
    content: ' Tablet View';
  }

  @include susy-breakpoint($laptop-width, $laptop) {
    content: ' Laptop View';
  }

  @include susy-breakpoint($desktop-width, $desktop) {
    content: ' Desktop View';
  }
}
